.footer-wrapper{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.footer-lina{
    height: 3px;
    background: white;
    width: 100%;
}

.footer-top-section{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
}

.footer-top_center{
    width: 500px;
}
.footer-top_center p{
    color: white;
}
.footer-top_center ul{
    display: flex;
    justify-content: space-between;
}
.footer-top_center ul a{
    color: #35a79c;
    font-weight: 700;
}
.footer-link-cantrol{
    display: flex;
}
.link_section_svg{
    display: none;
    width: 110px;

}
.link_section_svg img{
    width: 100%;
}
.footer-link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-bottom-section{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.footer-logo-svg{
    display: flex;
}

.footer-logo-svg img{
   width: 100px;
}

@media screen and (max-width: 1090px) {
    .footer-top_center{
       padding: 0px 10px;
    }
  }

@media screen and (max-width: 940px) {
    .footer-top-section{
        width: 90%;
    }
  }

  @media screen and (max-width: 807px) {
    .footer-top-section{
        flex-direction: column;
        align-items: center;
    }
    .footer-logo-svg{display: none;}
    .link_section_svg{display: flex;}
    .footer-top_center{
        width: 100%;
    }
    .footer-link-cantrol{
        width: 100%;
        justify-content: space-around;
    }
  }

  @media screen and (max-width:472px) {
      .footer-top_center a{
          font-size: 12px;
      }
  }
  @media screen and (max-width:390px) {
    .footer-top_center ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}