.searche-page-product-info-form ul {
  padding: 2px 0px 5px 5px;
  line-height: 34px;
  max-height: 410px;
}
.searche-page-product-info-form ul li {
  list-style: none;
}
.searche-page-product-info-form ul li a {display: flex }
.searche-page-product-info-form ul li a span { padding-right: 10px }
.searche-page-product-info-form ul li a span img { width: 30px }