.loader {
    margin: auto;
    border: 3.5px solid #232526 ;
    border-radius: 50%;
    border-top: 3.5px solid #35a79c;
    width: 35px;
    height: 35px;
    animation: spinner 4s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media screen and (max-width: 615px) {
    .search-page{
      width: 100%;
    }
  }