.search-page {
    position: relative;
    display: flex;
    /* align-items: center; */
    width: 36%;
    min-width: 380px;
    align-items: center;
    justify-content: center;
  }
  
  .search-page .Search-on-the-svg{
    position: absolute;
    left: 5px;
    z-index: 1;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-page form{
    align-items: center;
    display: flex;
    width: 100%;
    position: relative;
  }
  .search-page button {
    position: absolute;
    height: 100;
    background: none;
    border: none;
    margin: auto;
    cursor: pointer;
    height: 53%;
    left: 10px;
    display: flex;
    align-items: center;
  }
  .nav-profile {
    position: relative;
  }
  .nav-page-loginbtn {
    position: absolute;
  }
  .search-page input {
    width: 100%;
    /* padding: 6px 0px; */
    border-radius: 10px;
    outline: none;
    border: solid 1px #7c7979;
    padding-left: 38px;
    color: #35a79c
  }
  .search-page input:focus {
    background: #e7e7e7;
    background: white;
    color:black;
  }
  .search-page input:focus::placeholder {
     color: rgb(0, 0, 0);
  }
  .search-page input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#35a79c;
    /* opacity: 1; Firefox */
  }
  .searche-page-product-info-form{
    position: absolute;
    background: rgb(255, 255, 255);
    width: 100%;
    top: 50px;
    /* height: 410px; */
    max-height: 410px;
    border-radius: 0px 0px 10px 10px;
    z-index: 0;
    border-bottom: solid 1px grey;
    border-left: solid 1px grey;
    border-right: 1px solid #6b6b6b;
    padding: 13px 13px 14px 17px;
  }
  .searche-page-product-info-form ul{
    padding: 2px 0px 5px 5px;
    line-height: 34px;
    max-height: 410px;
  
  }
  
  .searche-page-product-info-form ul li{
    list-style: none;
  }
  .searche-page-product-info-form ul li a{display: flex;}
  .searche-page-product-info-form ul li a span{padding-right: 10px;}
  .searche-page-product-info-form ul li a span img{width: 30px;}


  .loader {
    margin: auto;
    border: 3.5px solid #232526 ;
    border-radius: 50%;
    border-top: 3.5px solid #35a79c;
    width: 35px;
    height: 35px;
    animation: spinner 4s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media screen and (max-width: 615px) {
    .search-page{
      width: 100%;
    }
  }