.page-product-card-wrapper{padding: 20px 0px;}
.page-product-card-wrapper a{
    text-decoration: none;
    color: black;
  }
  
  .page-product-card-wrapper-cantrol{
    width: 19%;
    /* height: 100%; */
    /* min-width: 300px; */
    display: flex;
    
    /* min-width: 220px; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 0px;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px;
    background: white;
    transition: 1s;
    cursor: pointer;
    display: flex;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    
  }
  .page-product-card-is-savaliabe{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .page-product-card-is-savaliabe .page-product-card-is-savalibe-flag{
    width: 40px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .page-product-card-head-settings{
    padding: 8px 8px;
    width: 100%;
  }
  .page-product-card-is-savaliabe span{
    background: greenyellow;
    font-size: 11px;
    padding: 8px;
    color: white;
    font-weight: 700;
    top: 0;
    font-family: sans-serif;
  }
  .page-product-card-wrapper-cantrol svg{
    width: 40px;
    height: 40px;
  }
  .page-product-card-wrapper-cantrol:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    z-index: 1;
  }
  .page-product-card-wrapper-cantrol:hover > .navHome{
    z-index: 2;
  }
  .page-product-card-wrapper-cantrol:hover form{
    z-index: 0;
  }
  
  .page-product-card-wrapper-cantrol button{
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: white;
    border: navajowhite;
    /* background: #35a79c !important; */
    padding-bottom: 7px;
    font-size: 26px;
    justify-content: space-evenly;
    cursor: pointer;
    font-variant: initial;
    box-shadow: 0px 0px 1px 0px;
  }
  .page-product-card-wrapper-cantrol button:focus{
    background: #35a79c;
  }
  .page-product-card-bottom-cantrol button:active{
    opacity: 0.3;
  }
  .page-product-card-wrapper-cantrol button:hover{
    /* background: #35a79c; */
  }
  .page-product-card-wrapper-cantrol button::after{
      content: " ";
      height: 14%;
      position: absolute;
      background: white;
      color: white;
      left: 0;
      bottom: 0;
      transition: width 0.8s linear;
      width: 0px;
  }
  .page-product-card-wrapper-cantrol button:hover:after{
    width: 100%;
  }
  .phoneShpage-product-card-wrapper-cantrolopCard button:hover{
    background:rgb(82 175 255);
    color: white;
    transition: 0.8s;
  }
  .page-product-card-wrapper-cantrol .page-product-card-hrefA{
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .page-product-card-wrapper-cantrol .page-product-card-hrefA span:hover{
    transform: scale(1.1);
    transition: 1s;
  }
  
  .page-product-card-top-cantrol{
    width: 100%;
    height: 315px;
    position: relative;
  }
  .page-product-card-top-cantrol .page-product-card-link-information{
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    background: rgb(255 255 255 / 24%);
    padding: 10px;
    font-family: inherit;
    color: black;
  }
  .page-product-card-link-information span svg{
    font-size: 24px;
  }
  .page-product-card-bottom-cantrol{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .page-product-cards-bottom{
    width: 100%;
    font-size: 18px;
    display: flex;
    font-family: system-ui;
    justify-content: space-between;
    align-items: center;
  }
  .page-product-cards-bottom-cantrol-info{
    width: 100%;
    line-height: 32px;
  }
  .page-product-cards-bottom-cantrol-info h4{
    font-size: 15px;
  }
  .page-product-cards-shop-info{
    display: flex;
    /* position: relative; */
    width: 100%;
    align-items: end;
    justify-content: flex-end;
  }

  .page-product-cards-bottom svg{
    font-size: 28px;
  }
  .page-product-cards-linkimg-witdh{
    width: 100%;
    /* height:286px; */
    height: 100%;
    overflow: hidden;
    background-size: cover;
    position: relative;
  }


  @media screen and (max-width: 1100px) {
     .page-product-card-wrapper-cantrol{
       width: 50%;
     }
     
  }

  @media screen and (max-width: 740px) {
    .page-product-card-wrapper-cantrol{
      width: 50%;
    }
    
 }
  @media screen and (max-width: 500px) {
    .page-product-card-wrapper-cantrol{
      width: 90%;
    }
    
 }