.shop-page-wrapper{
    display: flex;
    justify-content: center;
    position: relative;
}

.shop-form-title-sec{
    
}

@media screen and (max-width: 800px) {
    .shop-page-wrapper{
        flex-direction: column;
    }
  }